


@import url(http://fonts.googleapis.com/css?family=Raleway:400,100);

@charset "utf-8";
/* CSS Document */

/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */



/* ---------- FONTAWESOME ---------- */


/* ---------- GENERAL ---------- */
body {
  background-color:#F8F8F8;
  color: #606468;
}

/*#login_page {
  background: #2c3338;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}*/


/*.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after { clear: both; }*/

/* ---------- LOGIN ---------- */

#login {
  margin: 50px auto;
  width: 280px;
}

#login form span {
  background-color: #454C54;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

#login form input {
  height: 50px;
}

#login form input[type="text"], input[type="password"] {
  background-color: #4D5660;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  width: 230px;
}

#login form input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #4BC199;
  color: #eee;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 280px;
}

#login form input[type="submit"]:hover {
  background-color: #4BC199;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}

#login_page {
  margin-left: -250px;
}

.title_landingpage {
  height: 100px;
}

#jumbotron-landing-page {
  background-color: rgba(238, 238, 238, 0);
}

.landing-page-buttons {
  width: 130px;
}

.input_login {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

.search_results {
    height: 45px;
}

#title_login {
  font-family: 'Raleway', Arial, serif;
}

.white-text{
  color:#F0F0F0 !important;
}

.btn-primary{
  background-color:#455A68 !important;
  border-color:#455A68 !important;
}
