textarea {
  width: 815px;
  height: 100px;
}

#page-content-wrapper h4, #page-content-wrapper p{
  color:#3A4254;
}

#task-form{
  display: inline-block;
  width:100%;
}

#task-form .input-button{
  display:table-cell;
  vertical-align: top;
  float:left;
  width:30px;
}

#task-form .resize-form-input{
  overflow: hidden;
}
#task-form .resize-form-input .task-create-input{
  width:100%;
}

.side-container{
  clear:both;
}

.task_h1{
  font-size:2em;
  margin-bottom:10px;
  margin-top:8px;
}

.tasks-wrapper{
  margin-top: 15px;
}

.task-bar{
  border-radius: 2px !important;
  border-style:solid;
  border-width:1px;
  border-color:#638093;
  padding:10px;
  margin-bottom:10px !important;
  background-color:white;;
}

.panel-heading{
  background-color:white !important;
  border-color:white !important;
}

.task-checkbox{
  float:left;
  font-size:200%;
  margin-top :3px !important;
  margin-right:13px !important;
}

.task-right-element{
  margin-left:10px;
}

.task-header{
  margin:0;
  padding:0;
  border:0;
  position: relative;
  display:block;
  float:left;
  transition: all 1s;
}

#page-content-wrapper .task-header:hover{
  color:#4db182;

}

.text_yellow{
  color:#ffcc33;

}

.text_red{
  color:#ea3b3b;
}

.text_blue{
  color:#23c2ee;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
  border-top-color: white !important;
}

.panel-group .panel-heading+.panel-collapse>.panel-body{
  border-top: 0px !important;
}

.task-deatils{
  padding-top:15px;
}

.task-textarea{
  width:100%;
  height:157px !important;
  padding:15px;
  resize: none;
}

.hour-estimate-input{
  float:right;
  width:40%;
}

.form-control{
  border-radius:2px !important;
}

.btn{
  border-radius:2px !important;
}

.panel-group{
  margin:0px !important;
}

.show-completed-task-btn{
  margin-bottom:10px;
}

.glyphicon{
  margin-left:10px;
}

.done-task{

  text-decoration: line-through;

}
