textarea {
  width: 200px;
  height: 100px;
}
#task-form{
  display: inline-block;
  width:100%;
}

#task-form .input-button{
  display:table-cell;
  vertical-align: top;
  float:left;
  width:30px;
}

#task-form .resize-form-input{
  overflow: hidden;
}
#task-form .resize-form-input .task-create-input{
  width:100%;
}

.side-container{
  clear:both;
}

.task_h1{
  font-size:2em;
  margin-bottom:10px;
  margin-top:8px;
}

.tasks-wrapper{
  margin-top: 15px;
}

.task-bar{
  border-radius: 2px;
  border-style:solid;
  border-width:1px;
  border-color:#638093;
  padding:10px;
  margin-bottom:10px;
}

.task-checkbox{
  float:left;
  font-size:200%;
  margin-top :3px !important;
  margin-right:13px !important;
}

.task-right-element{
  margin-left:10px;
}

.task-header{
  margin:0;
  padding:0;
  border:0;
  position: relative;
  display:block;
  float:left;
}

.task-header:hover{
  color:#4db182;
  transition: all 1s;
}
