.progress-box {

  margin-bottom:-11px;
  margin-left:-26px;



}

.progress-box .percentage-cur .num {
	margin-right: 5px;
	background: rgba(255, 255, 255, 0);
}

.progress-box .progress-bar {
	width: 102.8%;
	height: 5px;
	background: rgba(255, 255, 255, 0);
	margin-bottom: 3px;

  position: relative;
}

.progress-box .progress-bar .inner {
  position: relative;
	width: 0;
	height:100%;
	background: #4db182;
}

.progress-bar .inner {
	height: 0;
	width: 0;
	transition: all 1s ease-out;
}

.progress-bar-slider .inner {
  transition: none;
}

.progress-bar-slider .inner:after {
  content: " ";
  width: 5px;
  height: 10px;;

  position: absolute;
  right: -2px;
  top: -2px;

  border-radius: 2px;

  margin: 0px;
}

.progress-slider {
  opacity: 0;
  width: 100%;
  height: 15px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 1;
}
