<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

        <h1> Seach Results: </h1>

        <div ng-show = "query.length" class="tasks-wrapper search_results">

        <div class="task-bar clearfix search_results" ng-repeat="project in projects | filter: query" ui-sref="projects.tasks({project_id: project._id})">

          <div class="clearfix">
            <i class="fa fa-folder-open task-checkbox"></i>
            <h4 class="search-header pull-left"> {{project.name}}</h4>
          </div>

        </div>

        <div class="task-bar clearfix search_results" ng-repeat="task in tasks | filter: query" ui-sref="projects.tasks({project_id: task.project._id})">

          <div class="clearfix">
            <i class="fa fa-tasks task-checkbox"></i>
            <h4 class="serach-header pull-left"> {{task.name}}</h4>
          </div>
          
        </div>

        </div>


      </div>
    </div>
  </div>
</div>