
<div ng-controller="loginCtrl" id="login_page" ng-class="{ 'black-background': backgroundColor }">



  <div ng-show="hideLoginWindow && hideSignupWindow" class="jumbotron text-center" id="jumbotron-landing-page">
    <h1 class="title_landingpage">KanDo</h1>


    <div class="btn btn-default" ng-click="hideLoginWindow = false"><span class="fa fa-user"></span> Login</div>
    <div ng-click="hideSignupWindow = false" class="btn btn-default"><span class="fa fa-user"></span> Sign up</div>

  </div>

<!-- login window starts -->
<div ng-hide="hideLoginWindow" id="login">

        <form action="javascript:void(0);" method="get">

            <fieldset class="clearfix">


                <p><span class="fa fa-user"></span><input class="input_login" ng-model="userData.username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fa fa-lock"></span><input class="input_login" ng-model="userData.password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input class="input_login" ng-click="loginUser()" type="submit" value="Login"></p>


            </fieldset>

        </form>


        <p>Not a member? <div class="btn btn-primary pull-left landing-page-buttons" ng-click="hideLoginWindow = true; hideSignupWindow = false">Sign up</div></p>
        <div class="btn btn-primary pull-right landing-page-buttons" ng-click="hideLoginWindow = true">home</div>



    </div> <!-- end login -->

<!-- login window ends -->

<!-- sign up window starts  -->

<div ng-hide="hideSignupWindow" id="login">

        <form action="javascript:void(0);" method="get">

            <fieldset class="clearfix">


                <p><span class="fontawesome-user"></span><input class="input_login" ng-model="userData.username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fontawesome-lock"></span><input class="input_login" ng-model="userData.password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input class="input_login" ng-click="createUser()" type="submit" value="Sign Up"></p>


            </fieldset>

        </form>


        <p>Already a member? <div class="btn btn-primary pull-left landing-page-buttons" ng-click="hideLoginWindow = false; hideSignupWindow = true">Login</div></p>
        <div class="btn btn-primary pull-right landing-page-buttons" ng-click="hideSignupWindow = true">home</div>


    </div> <!-- end login -->

<!-- sign up window ends -->

</div>
