
<div ng-controller="loginCtrl">


  <div ng-show="hideLoginWindow && hideSignupWindow" class="jumbotron text-center">
    <h1>CanDo</h1>

    <div class="btn btn-default" ng-click="hideLoginWindow = false"><span class="fa fa-user"></span> Signup</div>
    <div ng-click="hideSignupWindow = false" class="btn btn-default"><span class="fa fa-user"></span> Login</div>
  </div>

<!-- login window starts -->
<div ng-hide="hideLoginWindow" id="login">
        
        <form action="javascript:void(0);" method="get">
            
            <fieldset class="clearfix">
                
                <p><span class="fontawesome-user"></span><input ng-model="userData.username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fontawesome-lock"></span><input ng-model="userData.password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input ng-click="loginUser()" type="submit" value="Sign Up"></p>

            </fieldset>

        </form>
        
        <p>Already a member? <div ng-click="hideLoginWindow = true; hideSignupWindow = false">Signin</div><span class="fontawesome-arrow-right"></span></p>
        <div ng-click="hideLoginWindow = true">home</div> 
    </div> <!-- end login -->

<!-- login window ends -->

<!-- sign up window starts  -->

<div ng-hide="hideSignupWindow" id="login">
        
        <form action="javascript:void(0);" method="get">
            
            <fieldset class="clearfix">
                
                <p><span class="fontawesome-user"></span><input ng-model="userData.username" type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Username" -->
                <p><span class="fontawesome-lock"></span><input ng-model="userData.password" type="password"  value="Password" onBlur="if(this.value == '') this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" required></p> <!-- JS because of IE support; better: placeholder="Password" -->
                <p><input ng-click="createUser()" type="submit" value="Sign In"></p>

            </fieldset>

        </form>
        
        <p>Not a member? <div ng-click="hideLoginWindow = false; hideSignupWindow = true">Signup</div><span class="fontawesome-arrow-right"></span></p>
        <div ng-click="hideSignupWindow = true">home</div>

    </div> <!-- end login -->

<!-- sign up window ends -->

</div>