
<section class="projects col-sm-3" ng-controller="ProjectsCtrl">
  <p>adwa</p>
  <h1>Projecasdts</h1>
  {{names}}



  <!-- show all projects -->

  <!-- LOOP OVER THE TODOS IN $scope.todos -->
  <div class="checkbox" ng-repeat="name in names">
    <label>


  <form editable-form name="editableForm" onaftersave="saveUser()">
    <div>
      <!-- editable username (text with validation) -->
      <input type="checkbox" ng-click="deleteTodo(name._id)"><span class="title">Tasks: </span>
      <span editable-text="name.name" e-name="name" onbeforesave="checkName($data)" e-required>{{ name.name || 'empty' }}</span>
    </div>

    <div>
      <!-- button to show form -->
      <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
        Edit
      </button>
      <!-- buttons to submit / cancel form -->
      <span ng-show="editableForm.$visible">
        <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
          Save
        </button>
        <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
          Cancel
        </button>
      </span>
    </div>
</form>
    </label>
  </div>

</div>
</div>


<div id="todo-form" class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <form>
      <div class="form-group">

        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.name">
      </div>

      <!-- createToDo() WILL CREATE NEW TODOS -->
      <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
    </form>
  </div>
</div>




</section>


<div ui-view></div>
