
<section class="projects col-sm-3">
  <p>Projects</p>

  <!-- show all projects -->

  <!-- LOOP OVER THE TODOS IN $scope.todos -->
  <div ng-repeat="project in projects">
    <div class="project">
      <button class= "checkbox" type="checkbox" ng-click="deleteProject(project._id)"> Delete</button>
      <a href="#/projects/{{project._id}}/tasks"><button class= "checkbox" type="checkbox" ng-click="selectProject(project._id)"></button></a>
      <button class= "checkbox" type="checkbox" ng-click="editProject(project._id)"> Edit</button>
      <div class='project_title'>{{ project.name || 'empty' }}</div>
    </div>
  </div>



<div id="project-form" class="row">
  <div class="text-center">
    <form>
      <div class="form-group">

        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
        <input type="text" class="form-control input-sm text-center" placeholder="Create a project" ng-model="formData.name">
      </div>

      <!-- createToDo() WILL CREATE NEW TODOS -->
      <button type="submit" class="btn btn-primary btn-lg" ng-click="createProject()">Add</button>
    </form>
  </div>
</div>



<a href="#/projects/12/tasks">tester</a>
</section>


<div ui-view></div>
