<section class="projects col-sm-3">
  <p>Projects</p>


  <!-- CREATE PROJECTS -->
  <div id="project-form" class="row">
    <div class="text-center">
      <form>
        <div >
          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <input type="text" class="form-control input-sm text-center" placeholder="Create a project" ng-model="formData.name">
        </div>
        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createProject() ">Add</button>
      </form>
    </div>
  </div>


  <!-- show all projects -->
  <!-- LOOP OVER THE TODOS IN $scope.todos -->
  <div class="checkbox" ng-repeat="project in projects | orderBy:'time':'reverse'">
    <div ui-sref-active="active_project" data-project_id="{{project._id}}">

      <!-- editable username (text with validation) -->
      <button type="checkbox" ng-click="deleteProject(project._id)">delete</button>
      <a ui-sref="projects.tasks({project_id: project._id})">
        <button class="checkbox" type="checkbox" ng-click="selectProject(project._id)">select</button>
      </a>

      <div ng-controller="ProjectNameCtrl">
        <div ng-hide="beingEdited">
          <p>{{ project.name || 'empty' }}</p>
          <button type="button" ng-click="beingEdited = true">Edit</button>
        </div>
        <div ng-show="beingEdited">
          <div>
            <input ng-model="projectNameCopy">
            <button ng-click="finishEditing(project._id) " type="button">Save</button>
            <button type="button" ng-click="cancelEditing()">Cancel</button>
          </div>
        </div>

      </div>

    </div>
  </div>





</section>

<div ui-view></div>
