<!-- Bootstrap Formating BEGINS-->
<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">

      <div class=" clearfix">

          <div class="clearfix">
            <i class="fa fa-folder-open task-checkbox"></i>
            <h4 class="search-header pull-left">
              {{project.name}}
              </h4>
              <div class="pull-right" id="project_details">
                average progress: {{averageProgress() || 0}}% Total time: {{totalTimeEstimate() || 0}}
              </div>
          </div>

        </div>

        <!-- Create Task Form BEGIN-->



        <form id="task-form" class="text-center">

          <button type="submit" class="input-button text-center" ng-click="createTask()">
            <i class="fa fa-plus "></i>
          </button>
          <div class="resize-form-input">
            <input type="text" class="task-create-input input-sm text-center" placeholder="Create a task" ng-model="taskData.name">
          </div>
        </form>

        <!-- Create Task Form ENDS-->

        <!--  SNOW UNCOMPLETED TASK ONLY BEGIN-->
        <accordion class="tasks-wrapper" close-others="oneAtATime">

          <accordion-group class="task-bar" is-open="status.open" ng-repeat="task in tasks | orderBy:'time':'reverse' | filter: 'false'">
            <accordion-heading class="task-inner-block clearfix" ng-click="status.open = !status.open">
              <input class="task-checkbox" type="checkbox" ng-click="checkboxToggle(task)">
              <h4 ng-click="startAdd()" ng-class="{'highlight-text': status.open}" class='task-header'>{{task.name}}</h4>

              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              <div class="pull-right">

                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-exclamation-triangle'">
                  <i class="text_yellow {{task.status}}"></i>
                </div>
                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-question-circle'">
                  <i class="text_blue {{task.status}}"></i>
                </div>
                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-minus-circle'">
                  <i class="text_red {{task.status}}"></i>
                </div>

                <p class="pull-right task-right-element">{{task.due_date | date:"d-MMMM-yyyy"}}</p>
                <p class="pull-right task-right-element">{{(task.progress_bar/max)*100 | number: 0}} %</p>

              </div>


              <div class="progress-box" ng-click="$event.stopPropagation();">
                <div class="progress-bar progress-bar-slider">
                  <input class="progress-slider" type="range" min="0" max="100" ng-model="task.progress_bar" ng-mouseup="saveProgress(task)">
                  <div class="inner" ng-style="{ width: task.progress_bar + '%' || '0%' }"></div>
                </div>
              </div>

            </accordion-heading>


            <div class="task-deatils" ng-controller='WindowController'>

              <div class="row">

                <div class="col-md-8">

                  <div class='inner'>

                    <div>

                      <textarea class="form-control task-textarea" ng-model="task.description" placeholder="Description"></textarea>
                    </div>

                  </div>


                </div>

                <div class="col-md-4">

                  <!--  Status  -->
                  <div class="clearfix">
                    <h4 class="pull-left">Status: </h4>
                    <div class="pull-right">
                      <div ng-hide="openStatusWindow">

                        <i class="{{task.status}} fa-lg status_icon"  ng-click="openStatusWindow = true"></i>
                      </div>

                      <div ng-show="openStatusWindow">
                        <i class="text_yellow fa fa-exclamation-triangle fa-lg status_icon" ng-click="task.status = 'fa fa-exclamation-triangle'; selectStatus()"></i>
                        <i class="text_blue fa fa-question-circle fa-lg status_icon" ng-click="task.status = 'fa fa-question-circle'; selectStatus()"></i>
                        <i class="text_red fa fa-minus-circle fa-lg status_icon" ng-click="task.status = 'fa fa-minus-circle'; selectStatus()"></i>
                      </div>
                    </div>
                  </div>

                  <!--  Hours estimate  -->
                  <div class="clearfix">
                    <h4 class="pull-left"> Hours estimate: </h4>
                    <input class="hour-estimate-input form-control" type="number" ng-model="task.time_estimate">
                  </div>

                  <div class="clearfix">
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model='task.due_date' is-open="task.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                      />
                      <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, task)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                  </div>


                  <div class='button-bar'>
                    <!-- <input type="submit" value="Add"> -->
                    <button type="button" class="btn btn-default btn-md pull-left" style ="width:83.5%;"ng-click="descriptionAdd(task._id); status.open = !status.open">Save</button>
                    <button type="button" class="btn btn-default btn-md" ng-click="deleteTask(task); status.open = !status.open"><i class="fa fa-trash"></i></button>

                  </div>

                </div>




              </div>





            </div>
          </accordion-group>

        </accordion>

        <!--  SNOW UNCOMPLETED TASK ONLY END-->









        <button class="show-completed-task-btn" ng-click="showCompletedTasks = !showCompletedTasks"><i class="fa fa-check-square-o fa-lg "></i> SHOW COMPLETED TASKS</button>


        <!--  SNOW COMPLETED TASK ONLY BEGIN-->


        <accordion class="tasks-wrapper" close-others="oneAtATime">

          <accordion-group ng-show="showCompletedTasks" class="task-bar" is-open="status.open" ng-repeat="task in tasks | orderBy:'time':'reverse' | filter: 'true'">

            <accordion-heading class="task-inner-block clearfix">

              <input class="task-checkbox" type="checkbox" ng-click="checkboxToggle(task)">
              <h4 ng-click="startAdd()" class='task-header'><span class="done-task">{{task.name}}</span></h4>

              <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              <div class="pull-right">

                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-exclamation-triangle'">
                  <i class="text_yellow {{task.status}}"></i>
                </div>
                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-question-circle'">
                  <i class="text_blue {{task.status}}"></i>
                </div>
                <div class="pull-right task-right-element" ng-if="task.status == 'fa fa-minus-circle'">
                  <i class="text_red {{task.status}}"></i>
                </div>

                <p class="pull-right task-right-element">{{task.due_date | date:"d-MMMM-yyyy"}}</p>
                <p class="pull-right task-right-element">{{(task.progress_bar/max)*100 | number: 0}} %</p>

              </div>




              <div class="progress-box" ng-click="$event.stopPropagation();">
                <div class="progress-bar progress-bar-slider">
                  <input class="progress-slider" type="range" min="0" max="100" ng-model="task.progress_bar" ng-mouseup="saveProgress(task)">
                  <div class="inner" ng-style="{ width: task.progress_bar + '%' || '0%' }"></div>
                </div>
              </div>

            </accordion-heading>



            <div class="task-deatils" ng-controller='WindowController'>

              <div class="row">

                <div class="col-md-8">

                  <div class='inner'>

                    <div>

                      <textarea class="form-control task-textarea" ng-model="task.description" placeholder="Describtion"></textarea>
                    </div>

                  </div>


                </div>

                <div class="col-md-4">

                  <!--  Status  -->
                  <div class="clearfix">
                    <h4 class="pull-left">Status: </h4>
                    <div class="pull-right">
                      <div ng-hide="openStatusWindow">
                        <i class="{{task.status}} fa-lg status_icon" ng-click="openStatusWindow = true"></i>
                      </div>

                      <div ng-show="openStatusWindow">
                        <i class="text_yellow fa fa-exclamation-triangle fa-lg status_icon" ng-click="task.status = 'fa fa-exclamation-triangle'; selectStatus()"></i>
                        <i class="text_blue fa fa-question-circle fa-lg status_icon" ng-click="task.status = 'fa fa-question-circle'; selectStatus()"></i>
                        <i class="text_red fa fa-minus-circle fa-lg status_icon" ng-click="task.status = 'fa fa-minus-circle'; selectStatus()"></i>
                      </div>
                    </div>
                  </div>

                  <!--  Hours estimate  -->
                  <div class="clearfix">
                    <h4 class="pull-left"> Hours estimate: </h4>
                    <input class="hour-estimate-input form-control" type="number" ng-model="task.time_estimate">
                  </div>

                  <div class="clearfix">
                    <p class="input-group">
                      <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model='task.due_date' is-open="task.opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"
                      />
                      <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open($event, task)"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                    </p>
                  </div>


                  <div class='button-bar'>

                    <!-- <input type="submit" value="Add"> -->
                    <button type="button" class="btn btn-default btn-md pull-left" style ="width:83.5%;"ng-click="descriptionAdd(task._id); status.open = !status.open">Save</button>
                    <button type="button" class="btn btn-default btn-md" ng-click="deleteTask(task); status.open = !status.open"><i class="fa fa-trash"></i></button>



                  </div>

                </div>




              </div>





            </div>
          </accordion-group>

        </accordion>
        <!--COMPLETEED TASKS END -->

      </div>
      <!--Task List ends -->




    </div>
  </div>
</div>

</div>


<!-- Bootstrap Formating ENDS-->
