<section class="tasks col-xs-9">

  <h1 ng-model="find_project_id">{{project.project_id}}</h1>

  <div id="task-form" >
    <div class="text-center">
      <form>
        <div class="form-group">

          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <input type="text" class="form-control input-sm text-center" placeholder="Create a task" ng-model="formData.name">
        </div>

        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTask()">Add</button>
      </form>
    </div>
  </div>
</div>


  <div ng-repeat="task in tasks | filter:find_project_id">
    <p>{{task.name}} {{task.project._id}} {{project.project_id}}</p>
  </div>
</section>
